
  #IB-container {
    font-family: "Montserrat", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .IB-input {
    z-index: 1;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    padding: 2%;
    height: 20px;
  }

  .IB-input:focus {
    outline: none;
    background-color: transparent;
    border: 2px solid;
  }

  .IB-label {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0px;
    transition: all .1s ease-in-out;
  }

  .off {
    font-size: 14px;
    left: 0;
    padding-left: 2%;
    height: 100%;
    border-radius: 5px;
    width: 98%;
  }


  .on {
    z-index: 2;
    left: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }