
  .IB-container {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .IB-input {
    z-index: 1;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    padding: 2%;
    height: 100%;
  }

  .IB-input:focus {
    outline: none;
    background-color: transparent;
    border: 2px solid;
  }

  .IB-label {
    position: absolute;
    background-color: auto;
    display: flex;
    align-items: center;
    padding: 0px;
  }

  .off {
    color: auto;
    font-size: 90%;
    top: 0;
    left: 0;
    padding-left: 2%;
    height: 100%;
    border-radius: 5px;
    width: 98%;
  }


  .on {
    z-index: 2;
    color: auto;
    font-size: .8em;
    top: -6.5px;
    left: 5px;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }